<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <title>2016년</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        {% include 'header_s.html' %}
        {% include 'category_s.html' %}
        
        <br><br><br>
        {% include 'footer_s.html' %}
    </body>
</html>