<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Page{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sakura.css' %}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // DOM이 완전히 로드된 후에 자바스크립트를 실행하도록 보장합니다
        document.addEventListener('DOMContentLoaded', function(){                                   
            
            Plotly.newPlot('plotly-graph-container', data, layout);
        });
    </script>
</head>

<body>
    {% block header %}{% include 'header_s.html' %}{% endblock header %}
    {% block category %}{% include 'category_s.html' %}{% endblock category %}   
    <br><br>
        <div class="parent" >
            <div class="child">
                <h4>올해 차트 봄의 시작은 ?!</h4>
                <img src="{% static '/images/spring_start.jpg' %}" width="220px" height="150">
                <p>{% block spring_start %} {% endblock spring_start %}</p>
            </div>
            <div class="child">
                <h4>올해 차트 봄의 끝은 ?!</h4>
                <img src="{% static '/images/spring_end.jpg' %}" width="220px" height="150">
                <p>{% block spring_end %} {% endblock spring_end %}</p>
            </div>
        </div>

        <br>
        <div class="box">
            
            <div id="plotly-graph-container"> 
                {% block spring_graph %}{{ graph_html|safe }} {% endblock spring_graph %}
            </div>
        </div>

        <br>
        <table style="margin-left:auto;margin-right:auto;"> 
            <thead>
                <th>가수</th>
                <th>노래 제목</th>
            </thead>
            <tbody>
                <tr>
                    {% block year_song %} 
                    
                    {% endblock year_song %}
                </tr>
            </tbody>
        </table>

        <div class="main_image">
            <img src="{% static '/images/sakura.png' %}" width="500px" height="300px">
            <h3 class="main_image_text">
                온도 : {% block Temperature %}{% endblock Temperature %}<br />
                D-DAY : {% block D_day %}{% endblock D_day %}<br />
                벚꽃 개화 날짜 : {% block bloom_day %}{% endblock bloom_day %}
            </h3>
        </div>
    

    {% block footer %}{% include 'footer_s.html' %}{% endblock footer %}

    <div id="sakura-container"></div>
    <script type="text/javascript" src="{% static 'javascript/sakura.js' %}"></script>
    <script>
        // 페이지 로드 후 실행
        window.onload = function() {
            // Sakura 클래스를 사용하여 벚꽃 효과 초기화
            new Sakura('#sakura-container');
        };
    </script>
    
</body>
</html>
