<!--category_winter.html-->
{% load static %}
<div style="text-align: center;">
    <a href="{% url 'twelve_w' %}" class="btn-de black rounded">2 0 1 2</a>
    <a href="{% url 'thirteen_w' %}" class="btn-de black rounded">2 0 1 3</a>
    <a href="{% url 'fourteen_w' %}" class="btn-de black rounded">2 0 1 4</a>
    <a href="{% url 'fifteen_w' %}" class="btn-de black rounded">2 0 1 5</a>
    <a href="{% url 'sixteen_w' %}" class="btn-de black rounded">2 0 1 6</a>
    <a href="{% url 'seventeen_w' %}" class="btn-de black rounded">2 0 1 7</a>
    <a href="{% url 'eighteen_w' %}" class="btn-de black rounded">2 0 1 8</a>
    <a href="{% url 'nineteen_w' %}" class="btn-de black rounded">2 0 1 9</a>
    <br>
    <a href="{% url 'twenty_w' %}" class="btn-de black rounded">2 0 2 0</a>
    <a href="{% url 'twentyone_w' %}" class="btn-de black rounded">2 0 2 1</a>
    <a href="{% url 'twentytwo_w' %}" class="btn-de black rounded">2 0 2 2</a>
    <a href="{% url 'twentythree_w' %}" class="btn-de black rounded">2 0 2 3</a>
</div>