<!--category_spring.html-->
{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</header>
<div style="text-align: center;">
    <a href="{% url 'twelve' %}" class="btn-de black rounded">2 0 1 2</a>
    <a href="{% url 'thirteen' %}" class="btn-de black rounded">2 0 1 3</a>
    <a href="{% url 'fourteen' %}" class="btn-de black rounded">2 0 1 4</a>
    <a href="{% url 'fifteen' %}" class="btn-de black rounded">2 0 1 5</a>
    <a href="{% url 'sixteen' %}" class="btn-de black rounded">2 0 1 6</a>
    <a href="{% url 'seventeen' %}" class="btn-de black rounded">2 0 1 7</a>
    <a href="{% url 'eighteen' %}" class="btn-de black rounded">2 0 1 8</a>
    <a href="{% url 'nineteen' %}" class="btn-de black rounded">2 0 1 9</a>
    <br>
    <a href="{% url 'twenty' %}" class="btn-de black rounded">2 0 2 0</a>
    <a href="{% url 'twentyone' %}" class="btn-de black rounded">2 0 2 1</a>
    <a href="{% url 'twentytwo' %}" class="btn-de black rounded">2 0 2 2</a>
    <a href="{% url 'twentythree' %}" class="btn-de black rounded">2 0 2 3</a>
</div>