<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <title>겨울</title>
        <link rel="stylesheet" href="{% static 'css/style_winter.css' %}">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'category_w.html' %}

        <br><br>
        <div class="parent" >
            <div class="child">
                <h4>올해 차트 겨울의 시작은 ?!</h4>
                <img src="{% static '/images/winter_start.jpg' %}" width="220px" height="150">
                <p>11월 2주</p>
            </div>
            <div class="child">
                <h4>올해 차트 겨울의 끝은 ?!</h4>
                <img src="{% static '/images/spring_start.jpg' %}" width="220px" height="150">
                <p>1월 1주</p>
            </div>
        </div>

        <br>
        <div class="box" style="margin-bottom: 20px;">
            <p>그래프 들어갈 자리입니다.</p>
        </div>

        <br>
        <div style="padding: 20px;" class="main_image">
            <img src="{% static '/images/snow.png' %}" width="900px" height="500px">
            <h1 class="main_image_text" style="font-size:30px">
                온도 : -1℃<br />
                D-DAY : D-7<br />
                첫눈 날짜 : 12월 14일
            </h1>
        </div>
        <!-- <table style="margin-left:auto;margin-right:auto;"> 
            <thead>
                <th>첫눈 날짜</th><th>기온</th><th>D-DAY</th>
            </thead>
            <tbody>
                <tr>
                    <td>11월17일</td><td>0℃</td><td>D+1</td>
                </tr>
            </tbody>
        </table> -->

        <script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
        <script>
            var sf = new Snowflakes({
                color: "#ffffff"
            });
        </script>
    </body>
    
</html>